# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*

# ==========================
# SQLite
# ==========================
*.sqlite
*.sqlite3

# ==========================
# Database
# ==========================
database/

# Si en el futuro queremos versionar solo la carpeta:
#!database/.gitkeep

# ==========================
# Knowledge debug
# ==========================
knowledge/*.md

# Mantener la carpeta
!knowledge/.gitkeep

# ==========================
# Build
# ==========================
dist/
coverage/

# ==========================
# IDE
# ==========================
.vscode/settings.json

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db